td {
	height: 100px;
	width: 100px;
	border: 1px solid #DDDDDD;
	vertical-align: middle !important;
	text-align: center;
	font-size: 35px;
}

.next-turn {
	font-size: 20px;
	margin-top: 20px;
	text-align: center;
}

.game-status {
	text-align: center;
	font-size: 20px;
}

.reset {
	text-align: center;
}

h1 {
	text-align: center;
	padding: 20px;
}
